.other-section {
  background-color: #efefef;
  padding-top: 5vh;
  padding-bottom: 3vh;
}
.other-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
}

.other-container a {
  margin: 0;
  padding: 0;
}

.other-card img {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}
.other-card {
  background-color: #fff;
  padding: 0;
  width: 85%;
  max-width: 900px;
  margin: 1em;
  border: 1px solid #EDEDED;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.other-project-text {
  padding: 0 1em;
  line-height: 1.5em;
}

.other-project-text {
  text-align: left;
}

@media (min-width: 600px) {
  .other-card {
    flex-direction: row;
  }
  .other-card img {
    object-fit: fill;
    height: 20vh;
    width: 40vh;
  }
  .other-project-text {
    width: 70%;
  }
}
